*{margin: 0; padding: 0;}
body{
    background: #e3fffc;
    font-family: sans-serif;
    padding-bottom: 125px;

    }

h1 {
    color: #183d39;
    text-align: center;
    margin-bottom: 15px;
}
h2 {
    color: #183d39;
    text-align: top;
    margin-top: 5px;
    margin-bottom: 5px;
}

#logOutBtn{
    /* display: block; */
    width: auto;
    float: right;
    background-color: #ff7842;

}
#updateBtn{
    /* display: block; */
    width: auto;
}

#logOutBtn:hover {
    background-color: #c76b46;
}

button.accordion {
    background: #7ebdb5; 
    border-radius: 8px;
    border: none;
    width: 90%;
    margin: auto;
    max-width: 600px;
    display: block;
    font-family: sans-serif;
    margin-bottom: 0px;
    font-size: 24px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-bottom: 4px;
    padding-top: 4px;
    cursor: pointer;
    transition: background-color 0.2s linear;
    text-align: left;
    text-indent: 10%;
    padding-right: 30px;
}
button.accordion:hover, button.accordion.is-open {
    background-color: #b87ebd;
}

button.accordion:after {
    content: '\f067';
    font-family: "fontawesome";
    font-size: 20px;
    float: right;
    padding-top: 4px;
}

button.accordion.is-open:after {
    content: '\f068';
    font-family: "fontawesome";
    font-size: 20px;
    float: right;
    padding-top: 4px;
}

.accordion-content {
    max-height: 0px;
    overflow: hidden;
    margin-bottom: 1%;
    transition: max-height 0.3s ease-in-out;
}

.form-wrap{ 
    height: 100%;
    width: 90%; 
    max-width: 600px;
    background: #7ebdb5; 
    padding: 40px 20px; 
    box-sizing: border-box;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    position: center;
    /* left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
    font-weight: normal;
    margin: auto;
    /* overflow: auto; */
    margin-top: 0px;
    margin-bottom: 6px;

}

label {
    display: block;
  padding-left: 5px;
  text-indent: -10px;
  
}

input{
    width: 100%;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 6px 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 14px;
    position: relative;
    vertical-align: bottom;
    *overflow: hidden;
}

input[type="button"] {
    background: #42ffea;
    border: 0px;
    cursor: pointer;
    transition: background-color 0.2s linear;

}
input[type="button"]:hover {
    background: #31d4c2;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    width: 80px;
    position: center;
    margin-bottom: 5px;
    display: block;
}

input[type="checkbox"] {
    /* display: inline; */
    top: -1px;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    margin-left: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    transform: scale(1.25);
}

select {
    margin-left: 8px;
    display: inline;
    margin-bottom: 8px;
}